body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
img{
    width: 400px;
    border:solid white 5px;
    
}
div{
    text-align: center;
    
}
p{
    color: white;
    text-align: center;
}